.product {
  &__header {
    display: flex;
    place-content: space-evenly;
    height: 50px;
    width: 94%;

    @media (max-width: 700px) {
      display: inline-grid;
      justify-items: center;
    }
  }

  &__card-container {
    margin: 80px;
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}
